@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}
.header {
  padding: 20px;
  text-align: center;
  background: #dd9b9b7c;
  color: white;
  font-size: 30px;
}

body {
    font-family: 'Poiret One', cursive;
}

#exampleModalCenter {
	background: linear-gradient(-45deg, #af3610, rgb(209, 118, 0), red);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.modal-header {
  background-color: #e28111e5;
}
input {
   background: rgba(161, 182, 185, 0.5);
    font: 20px sans-serif;
}
.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 20%;
  right: 20%;
}
.hidden {
  display: none;
}
.display{
  display: inline;
}
.log-out{
  justify-items: right;
}
#myVideo {
  opacity: 80%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
